.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --main-radius:5px;
  --main-padding:5px;
}
.container{
  display:grid;
  height:100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.2fr 1.5fr .8fr;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "content1 content2 content3"
    "footer footer footer";
  grid-gap: 0.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 12px;
  color: #000000;
  text-align: center;
}

nav{
  background: #ffffff;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

main{
  background: #495E57;
  grid-area: main;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

#content1{
  background: #1400ea;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
#content2{
  background: #44bb66;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
#content3{
  background: #64ffda;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
footer{
  background: #495E57;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

@media only screen and (max-width:550px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}